@font-face {
    font-family: Montserrat;
    font-weight: 400;
    src: url(src/assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat;
    font-weight: 700;
    src: url(src/assets/fonts/Montserrat-Bold.ttf);
}
