$max-width-tablet: 1280px;
$max-width-phone: 760px;

$green-jarvis-color: #B7FF44;
$blue-jarvis-color: #7026EB;
$dark-jarvis-color: #2F2F2F;
$gray-color: #646464;
//$dark-gradient-color: linear-gradient(180deg, rgba(50, 50, 50, 1) 0%, rgb(50, 50, 50, 1) 100%);
$dark-gradient-color: linear-gradient(180deg, rgba(200, 200, 200, 0.1) 0%, rgb(60, 60, 60, 0.1) 100%);
